<<h2>Edit Game</h2>
  <p><input type="text" name="name" placeholder="Name" value="<%= @game.name %>"></p>
  <p><input type="text" name="year" placeholder="Year" value="<%= @game.year %>"></p>
  <p><input type="text" name="creator" placeholder="Creator" value="<%= @game.creator %>"></p>
  <p><input type="text" name="rating" placeholder="Rating" value="<%= @game.rating %>"></p>
  <p><input type="text" name="synopsis" placeholder="Synopsis" value="<%= @game.synopsis %>"></p>
  <p><input type="url" name="game_art" placeholder="Image URL" value="<%= @game.game_art %>"></p>
  <input type="submit" value="Update game">
</form>
