<% unless @poster.nil? %>

<div class="poster">
  <img src="<%= @poster%>">
</div>
<p><%=@title%>
</p>
<% end%>

<h2><%= @game.name %></h2>
<h3>Year: <%= @game.year %></h3>
<h3>Creator: <%= @game.creator %></h3>
<h3>Rating: <%= @game.rating %></h3>
<h4>Synopsis: <%= @game.synopsis %></h4>

<p>
  <a href="/games/<%= @game.id %>/delete">Delete</a>
  <a href="/games/<%= @game.id %>/edit">Edit</a>
</p>


