<h3> <%= @artist.name %> </h3>

	<ul>
		<li> <%= image_tag @artist.image, :class => 'artist-image' %> </li>
		<li> Nationality: <%= @artist.nationality %> </li>
		<li> DOB: <%= @artist.dob %> </li>
		<li> Period: <%= @artist.period %> </li>
	</ul>