<!DOCTYPE html>
<html>
<head>
  <title>Booksandmorebooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="global-nav">
	<%= link_to("All Books", books_path) %>
	<%= link_to("New Book", new_book_path) %>
	<%= link_to("All Authors", authors_path) %>
	<%= link_to("New Author", new_author_path) %>
	<%= link_to("All Series", series_index_path) %>
	<%= link_to("New Series", new_series_path) %>
</nav>

<%= yield %>

</body>
</html>
