<h2><%= @author.name %></h2>

<ul>
	<li>Nationality: <%= @author.nationality %></li>
	<li>Date of Birth: <%= @author.dob.strftime "%A, %e %B %Y" if @author.dob %></li>
	<li>Image: <%= image_tag @author.image, :class => 'thumb' %></li>
</ul>


<% @author.books.each do |book| %>
	<li>Books: <%= link_to(image_tag(book.cover, :class => 'thumb'), book) %></li>
<% end %>


<p><%= link_to 'Edit', edit_author_path %></p>
<%= button_to 'Delete', @author, :method => 'delete', :data => { :confirm => "Are you sure? " } %>




