<h2> <%= @booze.name %> </h2>
<h3> <%= @booze.country_of_origin %> </h3>

<p> <%= @booze.description %> </p>

<a href="/booze/<%= @booze.id %>/edit">Edit</a>
<a href="/booze/<%= @booze.id %>/delete">Remove</a>


